/* --------------------------------------------------------------------------------------------------------------------------------------- */
/* The CSS Below is for mobile in portrait orientation*/
@media only screen and (max-width: 767px) {
    .cards {
        display:none; 
        
       
    }


    .card_container {
        display:none;
        
    }


    .card_title {
        display:none;
        
    }


    .card_player_name {
        display:none;
    }

    .card_description {
        display:none;
    }

    .card_description_video {
        display:none;
    }

    .card_video {
        display:none;
    }

    @keyframes fadeIn {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }

    .versus_label {
        display:none;
    }

    .playing_card1 {
        display:none;

    }

    .playing_card2 {
        display:none;
    }

    .higher_or_lower_description {
        display:none;
    }

    .rof_card {
        display:none;
    }

    .rof_description {
        display:none;
    }


    .nat20_container {
        display:none;
    }
    .nat1wizard {
        display:none;
    }

    .nat20 {
        display:none;
    }

    .dice_nat20 {
        display:none;
    }

    .dice_nat20_desc {
        display:none;
    }


    .dice_description {
        display:none;
    }

    .dice_roll_desc {
        display:none;
    }

    .dice_image {
        display:none;
    }

    .dice_image[wobble="1"] {
        animation-name: wobble;
        animation-duration: 2s;
        display:none;
    }




    /* Setting Animation effect to the 
     dice using css keyframe */
    @keyframes wobble {
        from {
            transform: translate3d(0, 0, 0);
        }

        15% {
            transform: translate3d(-25%, 0, 0) rotate3d(0, 0, 1, -5deg);
        }

        30% {
            transform: translate3d(20%, 0, 0) rotate3d(0, 0, 1, 3deg);
        }

        45% {
            transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -3deg);
        }

        60% {
            transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 2deg);
        }

        75% {
            transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -1deg);
        }

        to {
            transform: translate3d(0, 0, 0);
        }
    }

    .cards_and_button_container {
        display:none;

    }

    .check_button {
        display:none;
    }

    .check_button:active {
        display:none;
    }

    .timer_container {
        display:none;

    }

    .timer_function {
        display:none;
    }

    .timer_button {
        display:none;
    }


    .timer_button:active {
        display:none;
    }

    .all_timer_buttons {
        display:none;

    }
    
}

/* --------------------------------------------------------------------------------------------------------------------------------------- */
/* The CSS Below is for mobile in landscape orientation */
@media only screen and (min-width:650px) and (max-width:991px) and (orientation: landscape) {
    .cards {
        width: 60%;
    }

    .card_container {
        text-align: center;
        position: relative;
        animation: fadeIn 0.5s;
    }


    .card_title {
        position: absolute;
        color: white;
        top: 5%;
        right: 24%;
        font-size: 2.5vw;
        filter: drop-shadow(0px 0px 15px #292929);
        transition: all 0.5s;
        animation: fadeIn 0.5s;
    }


    .card_player_name {
        position: absolute;
        color: rgb(255, 255, 255);
        top: 15%;
        right: 24%;
        font-size: 2vw;
        filter: drop-shadow(0px 0px 15px #000000);
        transition: all 0.5s;
        animation: fadeIn 0.5s;
    }

    .card_description {
        position: absolute;
        color: white;
        top: 45%;
        right: 24%;
        font-size: 2.2vw;
        width: 50%;
        filter: drop-shadow(0px 0px 15px #292929);
        transition: all 0.5s;
        animation: fadeIn 0.5s;
        font-family: Arial, Helvetica, sans-serif;
    }

    .card_description_video {
        position: absolute;
        color: white;
        top: 55%;
        right: 24%;
        font-size: 2vw;
        width: 50%;
        filter: drop-shadow(0px 0px 15px #292929);
    }

    .card_video {
        position: absolute;
        color: white;
        top: 10%;
        right: 52%;
        width: 22%;
        height: 38%;
        filter: drop-shadow(0px 0px 15px #292929);
        border: 5px solid rgba(193, 193, 193, 0.8);
    }

    @keyframes fadeIn {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }

    .versus_label {
        font-size: 3vw;
        color: rgba(95, 0, 0, 0.749);
        filter: drop-shadow(0px 0px 15px #ffffff);
    }

    .playing_card1 {
        width: 15%;
        margin: 1%;

    }

    .playing_card2 {
        width: 15%;
        margin: 1%;
        cursor: pointer;
    }

    .higher_or_lower_description {
        position: absolute;
        color: white;
        top: 28%;
        right: 24%;
        font-size: 1vw;
        width: 40%;
        filter: drop-shadow(0px 0px 15px #292929);
        transition: all 0.5s;
        animation: fadeIn 0.5s;
        font-family: Arial, Helvetica, sans-serif;
    }

    .rof_card {
        position: absolute;
        right: 47%;
        width: 15%;
        margin: 1%;
        cursor: pointer;
    }

    .rof_description {
        position: absolute;
        color: white;
        top: 28%;
        right: 12%;
        font-size: 1.6vw;
        padding: 1%;
        width: 30%;
        filter: drop-shadow(0px 0px 15px #292929);
        transition: all 0.5s;
        animation: fadeIn 0.5s;
        font-family: Arial, Helvetica, sans-serif;
    }


    .nat20_container {
    }

    .nat20 {
        position: absolute;
        top: -5%;
        right: 30%;

    }

    .nat1wizard {
        width:25%;
        position:absolute;
        top:25%;
        right:55%;
        filter: drop-shadow(0px 0px 15px #000000);
        animation: fadeIn 0.5s;
    }

    .dice_nat20 {
        color: rgb(0, 0, 0);
        font-size: 1.5vw;
        filter: drop-shadow(0px 0px 15px #ffffff);
        transition: all 0.5s;
        animation: fadeIn 0.5s;
        font-weight: bold;
        font-family: Arial, Helvetica, sans-serif;
        z-index: 10000;
    }

    .dice_nat20_desc {
        font-size: 3vw;
        filter: drop-shadow(0px 0px 15px #292929);
        transition: all 0.5s;
        animation: fadeIn 0.5s;
        font-family: Arial, Helvetica, sans-serif;
        color:white;
        padding:2%;
        position: absolute;
        top: 80%;
        right: 21%;
        transition: all 0.5s;
        animation: fadeIn 0.5s;
        background-color: rgba(0, 0, 0, 0.8);
        border: 5px solid rgb(255, 255, 255);
        padding: 1%;
        width: 55%;
    }


    .dice_description {
        position: absolute;
        color: white;
        top: 65%;
        right: 30%;
        font-size: 1.2vw;
        width: 40%;
        filter: drop-shadow(0px 0px 15px #292929);
        transition: all 0.5s;
        animation: fadeIn 0.5s;
        font-family: Arial, Helvetica, sans-serif;
    }

    .dice_roll_desc {
        position: absolute;
        color: white;
        top: 72%;
        right: 30%;
        font-size: 1.2vw;
        width: 40%;
        filter: drop-shadow(0px 0px 15px #292929);
        transition: all 0.5s;
        animation: fadeIn 0.5s;
        font-family: Arial, Helvetica, sans-serif;
    }

    .dice_image {
        position: absolute;
        color: white;
        top: 5%;
        right: 37%;
        font-size: 1vw;
        width: 25%;
        filter: drop-shadow(0px 0px 15px #292929);
        cursor: pointer;
    }

    .dice_image[wobble="1"] {
        animation-name: wobble;
        animation-duration: 2s;
    }




    /* Setting Animation effect to the 
     dice using css keyframe */
    @keyframes wobble {
        from {
            transform: translate3d(0, 0, 0);
        }

        15% {
            transform: translate3d(-25%, 0, 0) rotate3d(0, 0, 1, -5deg);
        }

        30% {
            transform: translate3d(20%, 0, 0) rotate3d(0, 0, 1, 3deg);
        }

        45% {
            transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -3deg);
        }

        60% {
            transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 2deg);
        }

        75% {
            transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -1deg);
        }

        to {
            transform: translate3d(0, 0, 0);
        }
    }

    .cards_and_button_container {
        position: absolute;
        color: white;
        top: 40%;
        right: 15%;
        filter: drop-shadow(0px 0px 15px #292929);
        width: 70%;

    }

    .check_button {
        display: inline-block;
        padding: 15px 25px;
        font-size: 1vw;
        cursor: pointer;
        text-align: center;
        text-decoration: none;
        outline: none;
        color: #000000;
        background-color: #ffffff;
        border: none;
        border-radius: 15px;
        box-shadow: 0 9px #999;
        margin: 5%;
    }

    .check_button:active {
        background-color: #979797;
        box-shadow: 0 5px #666;
        transform: translateY(4px);
    }

    .timer_container {
        filter: drop-shadow(0px 0px 15px #292929);
        background-color: #fbeee0;
        border: 2px solid #422800;
        width: 50%;
        height: 10%;
        padding: 1%;
        position: absolute;
        top: 1%;
        left: 24%;

    }

    .timer_function {
        color: rgb(0, 0, 0);
        margin-left: 2%;
        font-size: 2vw;
    }

    .timer_button {
        display: inline-block;
        padding: 15px 25px;
        font-size: 1vw;
        cursor: pointer;
        text-align: center;
        text-decoration: none;
        outline: none;
        color: #ffffff;
        background-color: #422800;
        border: none;
        border-radius: 15px;
        box-shadow: 0 9px #5e3a1c;
        margin-left: 5%;
    }


    .timer_button:active {
        background-color: #e5c5aa;
        box-shadow: 0 9px #5e3a1c;
        transform: translateY(4px);
    }

    .all_timer_buttons {
        margin-top: -10%;
        margin-left: 20%;

    }
}


/* --------------------------------------------------------------------------------------------------------------------------------------- */
/* The CSS Below is for Desktop */
@media only screen and (min-width:992px) {
    .cards {
        width: 60%;   
        
       
    }


    .card_container {
        text-align: center;
        position: relative;
        animation: fadeIn 0.5s;  
        
    }


    .card_title {
        position: absolute;
        color: white;
        top: 5%;
        right: 24%;
        font-size: 2.5vw;
        filter: drop-shadow(0px 0px 15px #292929);
        transition: all 0.5s;
        animation: fadeIn 0.5s;
        
    }


    .card_player_name {
        position: absolute;
        color: rgb(255, 255, 255);
        top: 15%;
        right: 24%;
        font-size: 2vw;
        filter: drop-shadow(0px 0px 15px #000000);
        transition: all 0.5s;
        animation: fadeIn 0.5s;
    }

    .card_description {
        position: absolute;
        color: white;
        top: 45%;
        right: 24%;
        font-size: 2.2vw;
        width: 50%;
        filter: drop-shadow(0px 0px 15px #292929);
        transition: all 0.5s;
        animation: fadeIn 0.5s;
        font-family: Arial, Helvetica, sans-serif;
    }

    .card_description_video {
        position: absolute;
        color: white;
        top: 55%;
        right: 24%;
        font-size: 2vw;
        width: 50%;
        filter: drop-shadow(0px 0px 15px #292929);
    }

    .card_video {
        position: absolute;
        color: white;
        top: 10%;
        right: 52%;
        width: 22%;
        height: 38%;
        filter: drop-shadow(0px 0px 15px #292929);
        border: 5px solid rgba(193, 193, 193, 0.8);
    }

    @keyframes fadeIn {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }

    .versus_label {
        font-size: 3vw;
        color: rgba(95, 0, 0, 0.749);
        filter: drop-shadow(0px 0px 15px #ffffff);
    }

    .playing_card1 {
        width: 15%;
        margin: 1%;

    }

    .playing_card2 {
        width: 15%;
        margin: 1%;
        cursor: pointer;
    }

    .higher_or_lower_description {
        position: absolute;
        color: white;
        top: 28%;
        right: 24%;
        font-size: 1vw;
        width: 40%;
        filter: drop-shadow(0px 0px 15px #292929);
        transition: all 0.5s;
        animation: fadeIn 0.5s;
        font-family: Arial, Helvetica, sans-serif;
    }

    .rof_card {
        position: absolute;
        right: 47%;
        width: 15%;
        margin: 1%;
        cursor: pointer;
    }

    .rof_description {
        position: absolute;
        color: white;
        top: 28%;
        right: 12%;
        font-size: 1.6vw;
        padding: 1%;
        width: 30%;
        filter: drop-shadow(0px 0px 15px #292929);
        transition: all 0.5s;
        animation: fadeIn 0.5s;
        font-family: Arial, Helvetica, sans-serif;
    }


    .nat20_container {
        
    }
    .nat1wizard {
        width:30%;
        position:absolute;
        top:15%;
        right:50%;
        filter: drop-shadow(0px 0px 15px #000000);
        animation: fadeIn 0.5s;
    }

    .nat20 {
        position: absolute;
        top: -5%;
        right: 30%;
    }

    .dice_nat20 {
        color: rgb(0, 0, 0);
        font-size: 1.5vw;
        filter: drop-shadow(0px 0px 15px #ffffff);
        transition: all 0.5s;
        animation: fadeIn 0.5s;
        font-weight: bold;
        font-family: Arial, Helvetica, sans-serif;
        z-index: 10000;
    }

    .dice_nat20_desc {
        font-size: 3vw;
        filter: drop-shadow(0px 0px 15px #292929);
        transition: all 0.5s;
        animation: fadeIn 0.5s;
        font-family: Arial, Helvetica, sans-serif;
        color:white;
        padding:2%;
        position: absolute;
        top: 80%;
        right: 21%;
        transition: all 0.5s;
        animation: fadeIn 0.5s;
        background-color: rgba(0, 0, 0, 0.8);
        border: 5px solid rgb(255, 255, 255);
        padding: 1%;
        width: 55%;
    }


    .dice_description {
        position: absolute;
        color: white;
        top: 65%;
        left: 15%;
        font-size: 1.2vw;
        width: 70%;
        filter: drop-shadow(0px 0px 15px #292929);
        transition: all 0.5s;
        animation: fadeIn 0.5s;
        font-family: Arial, Helvetica, sans-serif;
    }

    .dice_roll_desc {
        position: absolute;
        color: white;
        top: 73%;
        left: 25%;
        font-size: 1.2vw;
        width: 50%;
        filter: drop-shadow(0px 0px 15px #292929);
        transition: all 0.5s;
        animation: fadeIn 0.5s;
        font-family: Arial, Helvetica, sans-serif;
    }

    .dice_image {
        position: absolute;
        color: white;
        top: 5%;
        right: 37%;
        font-size: 1vw;
        width: 25%;
        filter: drop-shadow(0px 0px 15px #292929);
        cursor: pointer;
    }

    .dice_image[wobble="1"] {
        animation-name: wobble;
        animation-duration: 2s;
    }




    /* Setting Animation effect to the 
     dice using css keyframe */
    @keyframes wobble {
        from {
            transform: translate3d(0, 0, 0);
        }

        15% {
            transform: translate3d(-25%, 0, 0) rotate3d(0, 0, 1, -5deg);
        }

        30% {
            transform: translate3d(20%, 0, 0) rotate3d(0, 0, 1, 3deg);
        }

        45% {
            transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -3deg);
        }

        60% {
            transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 2deg);
        }

        75% {
            transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -1deg);
        }

        to {
            transform: translate3d(0, 0, 0);
        }
    }

    .cards_and_button_container {
        position: absolute;
        color: white;
        top: 40%;
        right: 15%;
        filter: drop-shadow(0px 0px 15px #292929);
        width: 70%;

    }

    .check_button {
        display: inline-block;
        padding: 15px 25px;
        font-size: 1vw;
        cursor: pointer;
        text-align: center;
        text-decoration: none;
        outline: none;
        color: #000000;
        background-color: #ffffff;
        border: none;
        border-radius: 15px;
        box-shadow: 0 9px #999;
        margin: 5%;
    }

    .check_button:active {
        background-color: #979797;
        box-shadow: 0 5px #666;
        transform: translateY(4px);
    }

    .timer_container {
        filter: drop-shadow(0px 0px 15px #292929);
        background-color: #fbeee0;
        border: 2px solid #422800;
        width: 50%;
        height: 10%;
        padding: 1%;
        position: absolute;
        top: 1%;
        left: 24%;

    }

    .timer_function {
        color: rgb(0, 0, 0);
        margin-left: 2%;
        font-size: 2vw;
    }

    .timer_button {
        display: inline-block;
        padding: 15px 25px;
        font-size: 1vw;
        cursor: pointer;
        text-align: center;
        text-decoration: none;
        outline: none;
        color: #ffffff;
        background-color: #422800;
        border: none;
        border-radius: 15px;
        box-shadow: 0 9px #5e3a1c;
        margin-left: 5%;
    }


    .timer_button:active {
        background-color: #e5c5aa;
        box-shadow: 0 9px #5e3a1c;
        transform: translateY(4px);
    }

    .all_timer_buttons {
        margin-top: -10%;
        margin-left: 20%;

    }
}