/* --------------------------------------------------------------------------------------------------------------------------------------- */
/* The CSS Below is for Mobile in portrait orientation*/
@media only screen and (max-width: 767px) {

    .home_container {
        text-align: center;
        transition: all 0.8s ease;
        overflow: hidden;

    }

    .home_style {
        animation: fadeIn 3s;
    }

    .lologo {
        position: absolute;
        width: 60%;
        margin-top:45%;
        margin-left:12%;

    }

    .start_game_button {
        display: inline-block;
        padding: 15px 25px;
        font-size: 8vw;
        cursor: pointer;
        text-align: center;
        text-decoration: none;
        outline: none;
        color: #ffffff;
        background: rgba(76, 175, 80, 0);
        border: none;
        border-radius: 15px;
        border: 2px solid rgba(255, 255, 255, 0.8);
        margin: 5%;
        margin-top: 110%;
        filter: drop-shadow(0px 0px 2px #292929);
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }

    .x_logo_homepage {
        position: absolute;
        top: 1%;
        left: 1%;
        width: 10%;
        border-radius: 10%;
    }

    .facebook_logo_homepage {
        position: absolute;
        top: 1%;
        left: 13%;
        width: 10%;
        border-radius: 10%;
    }

    .tiktok_logo_homepage {
        position: absolute;
        top: 1%;
        left: 25%;
        width: 10%;
        border-radius: 10%;
    }

    .home_style_gone {
        transform: translateY(-2000px);
        transition: 3s;
    }


    .rules_container {
        transition: 2s;
        position: absolute;
        top: 10%;
        left: 0;
        right:0;
    }

    .rules_container_gone {
        transform: translateY(10000px);
        transition: 2s;
        
    }

    .rules_container_gone2 {
        transform: translateY(-1000px);
        transition: 2s;
        left: 0;
        right:0;
        position: absolute;
        top: 5%;
    }


    .rules_grid {
        display: grid;
        grid-template-rows: 60% 40%;
        width: 90%;
        margin-left:5%;
        margin-right:5%;

    }

    .rules_grid_item {
        
    }

    .legal_rules_container {
        background-color: rgba(255, 255, 255, 1);
        border-radius: 30px;
        filter: drop-shadow(0px 0px 15px #292929);
        padding:5%;
      
    }
    .rules_text {
        display: none;
    }
    .rules_text_legal {
        font-size: 3vw;
        color: rgb(0, 0, 0);
        font-family: Arial, Helvetica, sans-serif;
        text-align: left;
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        
    }

    .rules_continue_button {
        background-color: #ffffff;
        border: 2px solid #111111;
        border-radius: 30px;
        box-shadow: #111111 4px 4px 0 0;
        color: #111111;
        cursor: pointer;
        display: inline-block;
        font-weight: 400;
        padding: 3%;
        font-size: 10vw;
        text-align: center;
        text-decoration: none;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
        margin-top: 30%;
        filter: drop-shadow(0px 0px 2px #292929);
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }

    .rules_page_button {
        font-size: 3vw;
        width: 100%;
        padding-top: 5%;
        padding-bottom: 5%;
        cursor: pointer;
        text-align: center;
        text-decoration: none;
        list-style: none;
        outline: none;
        color: #111111;
        background-color: #ffffff;
        border: none;
        border-radius: 15px;
        box-shadow: 0 9px #999;
        font-weight: 600;
        margin-top: 20%;
        
        
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }

    .policy_links {
        color: rgb(0, 0, 0);
    }

    .policy_links:hover {
        color: rgb(180, 11, 177);
    }


    .start_game_button_last {
        background-color: #111111;
        border: 2px solid #ffffff;
        border-radius: 30px;
        box-shadow: #111111 4px 4px 0 0;
        color: #ffffff;
        cursor: pointer;
        display: inline-block;
        font-weight: 600;
        font-size: 10vw;
        text-align: center;
        text-decoration: none;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
        margin-top: 15%;
        margin-bottom:15%;
        filter: drop-shadow(0px 0px 2px #292929);
        padding: 4%;
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }

    .start_game_button_last:hover {
        background-color: #191919;
    }

    .start_game_button_last:active {
        box-shadow: #111111 2px 2px 0 0;
        transform: translate(2px, 2px);
    }

    .enter_names_gone {
        transform: translateY(2000px);
        transition: 2s;
    }

    .enter_names {
        position: absolute;
        top: 5%;
        width: 100%;
        transition: 2s;
    }

    .add_players_grid {
        display: grid;
        grid-template-rows: 30% 50%;
        width: 100%;
    }

    .add_players_grid_item {
        margin: 1%;
    }

    .add_players_container {
        transition: all 0.8s ease;
    }

    .add_players_form {
        transition: all 0.8s ease;
        margin-top: -5%;

    }

    .add_players_button {
        background-color: #ffffff;
        border: 2px solid #111111;
        border-radius: 30px;
        box-shadow: #111111 4px 4px 0 0;
        color: #111111;
        cursor: pointer;
        display: inline-block;
        font-weight: 400;
        padding: 4%;
        font-size: 8vw;
        text-align: center;
        text-decoration: none;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
        margin-top: 5%;
        filter: drop-shadow(0px 0px 2px #292929);
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }

    .add_players_button:hover {
        background-color: #ffffff;
    }

    .add_players_button:active {
        box-shadow: #111111 2px 2px 0 0;
        transform: translate(2px, 2px);
    }


    .add_players_input {
        background-color: #ffffff;
        border: 2px solid #111111;
        border-radius: 30px;
        box-shadow: #111111 4px 4px 0 0;
        color: #111111;
        display: inline-block;
        font-weight: 400;
        padding: 1%;
        font-size: 7vw;
        text-align: center;
        text-decoration: none;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
        margin-top: 15%;
        filter: drop-shadow(0px 0px 2px #292929);
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }


    .added_players_list {
        display: inline;
        text-decoration: none;
        list-style-type: none;
        color: white;
        transition: all 0.8s ease;
        font-family: Arial, Helvetica, sans-serif;
        filter: drop-shadow(0px 0px 2px #292929);
        position: absolute;
        top:100%;
        right: 54%;
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }



    .each_player_names_list {
        width: 200%;
        background-color: #ffffff;
        border: 2px solid #111111;
        border-radius: 30px;
        box-shadow: #111111 4px 4px 0 0;
        font-weight: 600;
        padding: 5%;
        color: #111111;
        font-size: 5vw;
        margin: 10%;
    }

    .enter_names {
        position: absolute;
        top: 5%;
        width: 100%;
        transition: 2s;
    }

    .add_players_container {
        transition: all 0.8s ease;    
    }

    .button_form_container{
    }

    .or_text{
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size:8vw;
        margin-top:-10%;
        margin-bottom:-10%;
    }

    .player_list_container {
    }

    
    @keyframes fadeIn {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 100;
        }
    }



}

/* --------------------------------------------------------------------------------------------------------------------------------------- */
/* The CSS Below is for Mobile in landscape orientation */
@media only screen and (min-width:650px) and (max-width:993px) and (orientation: landscape) {
    .home_container {
        text-align: center;
        transition: all 0.8s ease;
        overflow: hidden;
    }

    .home_style {
        animation: fadeIn 3s;
    }

    .lologo {
        position: absolute;
        right: 36%;
        width: 30%;
    }

    .start_game_button {
        display: inline-block;
        padding: 15px 25px;
        font-size: 4vw;
        cursor: pointer;
        text-align: center;
        text-decoration: none;
        outline: none;
        color: #ffffff;
        background: rgba(76, 175, 80, 0);
        border: none;
        border-radius: 15px;
        border: 2px solid rgba(255, 255, 255, 0.8);
        margin: 5%;
        margin-top: 30%;
        filter: drop-shadow(0px 0px 2px #292929);
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }

    .x_logo_homepage {
        position: absolute;
        top: 1%;
        left: 1%;
        width: 5%;
        border-radius: 10%;
    }

    .facebook_logo_homepage {
        position: absolute;
        top: 1%;
        left: 7%;
        width: 5%;
        border-radius: 10%;
    }

    .tiktok_logo_homepage {
        position: absolute;
        top: 1%;
        left: 13%;
        width: 5%;
        border-radius: 10%;
    }

    

    .home_style_gone {
        transform: translateY(-2000px);
        transition: 3s;
    }

    .rules_container {
        transition: 2s;
        position: absolute;
        top: 20%;
        left: 10%;
        width: 80%;
    }

    .rules_container_gone {
        transform: translateY(10000px);
        transition: 2s;
        width: 80%;

    }

    .rules_container_gone2 {
        transform: translateY(-1000px);
        transition: 2s;
        width: 80%;
        left: 10%;
        position: absolute;
        top: 10%;
    }

    .rules_grid {
        display: grid;
        grid-template-columns: 60% 40%;
        width: 90%;
        column-gap: 50px;

    }

    .rules_grid_item {
        background-color: rgba(255, 255, 255, 0.9);
        filter: drop-shadow(0px 0px 15px #292929);
        padding: 2%;
        border-radius: 30px;
    }

    .rules_text {
        margin-top:6%;
        font-size: 1.5vw;
        padding: 1%;
        color: rgb(0, 0, 0);
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }

    .rules_text_legal {
        margin-top: 12%;
        font-size: 1.5vw;
        padding: 1%;
        color: rgb(0, 0, 0);
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        margin-top:7%;
    }

 

    .rules_continue_button {
        background-color: #ffffff;
        border: 2px solid #111111;
        border-radius: 20px;
        box-shadow: #111111 4px 4px 0 0;
        color: #111111;
        cursor: pointer;
        display: inline-block;
        font-weight: 400;
        padding: 1.5%;
        font-size: 3vw;
        text-align: center;
        text-decoration: none;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
        margin-top: 4%;
        filter: drop-shadow(0px 0px 2px #292929);
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }

    .rules_continue_button:hover {
        background-color: #eaeaea;
    }

    .rules_continue_button:active {
        box-shadow: #111111 2px 2px 0 0;
        transform: translate(2px, 2px);
    }

    .rules_page_button {
        font-size: 2vw;
        width: 90%;
        font-size: 1.5vw;
        margin-left: 4%;
        padding: 1%;
        cursor: pointer;
        text-align: center;
        text-decoration: none;
        list-style: none;
        outline: none;
        color: #111111;
        background-color: #ffffff;
        border: none;
        border-radius: 15px;
        box-shadow: 0 9px #999;
        font-weight: 600;
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }

    .rules_page_button:hover {
        background-color: #ededed;
    }

    .rules_page_button:active {
        box-shadow: #999 2px 2px 0 0;
        transform: translate(4px, 4px);    
    }


   

    .policy_links {
        color: rgb(180, 11, 177);
    }

    .policy_links:hover {
        color: rgb(255, 255, 255);
    }

    .enter_names_gone {
        transform: translateY(2000px);
        transition: 2s;
    }

    .enter_names {
        position: absolute;
        top: 5%;
        width: 100%;
        transition: 2s;
    }

    .add_players_container {
        transition: all 0.8s ease;    
    }

    .button_form_container{
        position:absolute;
        width:100%;
        margin-top:5%;

    }

    .start_game_button_last {
        background-color: #111111;
        border-radius: 30px;
        box-shadow: #111111 4px 4px 0 0;
        color: #ffffff;
        cursor: pointer;
        display: inline-block;
        font-weight: 600;
        font-size: 4vw;
        text-align: center;
        text-decoration: none;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
        filter: drop-shadow(0px 0px 10px #292929);
        padding: 1%;
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }

    .start_game_button_last:hover {
        background-color: #191919;
    }

    .start_game_button_last:active {
        box-shadow: #111111 2px 2px 0 0;
        transform: translate(2px, 2px);
    }

    .or_text{
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size:3vw;
    }

    .add_players_form {
        transition: all 0.8s ease;
    }

    .add_players_button {
        background-color: #ffffff;
        border: 2px solid #111111;
        border-radius: 30px;
        box-shadow: #111111 4px 4px 0 0;
        color: #111111;
        cursor: pointer;
        display: inline-block;
        font-weight: 400;
        padding: 1%;
        font-size: 2vw;
        text-align: center;
        text-decoration: none;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
        filter: drop-shadow(0px 0px 2px #292929);
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }

    .add_players_button:hover {
        background-color: #fff;
    }

    .add_players_button:active {
        box-shadow: #111111 2px 2px 0 0;
        transform: translate(2px, 2px);
    }

    .add_players_input {
        background-color: #ffffff;
        border: 2px solid #111111;
        border-radius: 30px;
        box-shadow: #111111 4px 4px 0 0;
        color: #111111;
        margin-right: 1%;
        display: inline-block;
        font-weight: 400;
        padding: 1%;
        font-size: 2vw;
        text-align: center;
        text-decoration: none;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
        filter: drop-shadow(0px 0px 2px #292929);
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }

    .player_list_container {
        position:absolute;
        width:100%;   
        margin-top:34%;
    }

    .added_players_list {
        display:flex;
        text-decoration: none;
        list-style-type: none;
        color: white;
        transition: all 0.8s ease;
        font-family: Arial, Helvetica, sans-serif;
        filter: drop-shadow(0px 0px 2px #292929);
        margin-right:2%;
        text-align: center;
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }

    .each_player_names_list {
        background-color: #ffffff;
        border: 2px solid #111111;
        padding:2%;
        text-align: center;
        box-shadow: #111111 4px 4px 0 0;
        font-weight: 600;
        color: #111111;
        font-size: 1.5vw;
        width: 10%;
        margin-left: 0.2%;
        margin-right:0.2%;
        border-radius:20px;
    }

    @keyframes fadeIn {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 100;
        }
    }


}

/* --------------------------------------------------------------------------------------------------------------------------------------- */
/* The CSS Below is for Desktop and Larger Devices */

@media only screen and (min-width:992px) {

    .home_container {
        text-align: center;
        transition: all 0.8s ease;
        overflow: hidden;
        
    }

    .home_style {
        animation: fadeIn 3s;
    }

    .lologo {
        position: absolute;
        margin-top: 10%;
        right: 40.5%;
        width: 20%;
    }

    .start_game_button {
        display: inline-block;
        padding: 15px 25px;
        font-size: 2.5vw;
        cursor: pointer;
        text-align: center;
        text-decoration: none;
        outline: none;
        color: #FFF7D0;
        background: rgba(76, 175, 80, 0);
        border: none;
        border-radius: 15px;
        border: 2px solid #FFF7D0;
        margin: 5%;
        margin-top: 30%;
        filter: drop-shadow(0px 0px 2px #292929);
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }

    .x_logo_homepage {
        position: absolute;
        top: 1%;
        left: 1%;
        width: 3%;
        border-radius: 10%;
        opacity:0.7;
    }

    .facebook_logo_homepage {
        position: absolute;
        top: 1%;
        left: 5%;
        width: 3%;
        border-radius: 10%;
        opacity:0.7;
    }

    .tiktok_logo_homepage {
        position: absolute;
        top: 1%;
        left: 9%;
        width: 3%;
        border-radius: 10%;
        opacity:0.7;
    }

    .home_style_gone {
        transform: translateY(-2000px);
        transition: 3s;
    }



    .rules_container {
        transition: 2s;
        position: absolute;
        top: 20%;
        width:100%;
        
    }

    .rules_container_gone {
        transform: translateY(10000px);
        transition: 2s;
        width:100%;
    }

    .rules_container_gone2 {
        transform: translateY(-1000px);
        transition: 2s;
        width:100%;
        
        position: absolute;
        top: 20%;
    }

    .rules_grid {
        display: grid;
        grid-template-columns: 60% 40%;
        width:60%;
        margin-left:20%;
    }

    .rules_grid_item {
        background-color: rgba(255, 255, 255, 0.9);
        border-radius: 30px;
        filter: drop-shadow(0px 0px 15px #292929);
        padding: 5%;
        width:80%;
    }

    .rules_text {
        font-size: 1.2vw;
        color: rgb(0, 0, 0);
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }

    .rules_text_legal {
        font-size: 1.2vw;
        color: rgb(0, 0, 0);
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        margin-top:8%;
    }

    .rules_page_button {
        width: 60%;
        font-size: 1.2vw;
        margin-left: 18%;
        padding: 2%;
        cursor: pointer;
        text-align: center;
        text-decoration: none;
        list-style: none;
        outline: none;
        color: #111111;
        background-color: #ffffff;
        border: none;
        border-radius: 15px;
        box-shadow: 0 9px #999;
        font-weight: 600;
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }

    .rules_page_button:hover {
        background-color: #ededed;
    }

    .rules_page_button:active {
        box-shadow: #999 2px 2px 0 0;
        transform: translate(4px, 4px);
        
    }

    .rules_continue_button {
        background-color: #ffffff;
        border: 2px solid #111111;
        border-radius: 30px;
        box-shadow: #111111 4px 4px 0 0;
        color: #111111;
        cursor: pointer;
        display: inline-block;
        font-weight: 400;
        padding: 1%;
        font-size: 2vw;
        text-align: center;
        text-decoration: none;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
        margin-top: 5%;
        filter: drop-shadow(0px 0px 2px #292929);
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }

    .rules_continue_button:hover {
        background-color: #eaeaea;
    }

    .rules_continue_button:active {
        box-shadow: #111111 2px 2px 0 0;
        transform: translate(2px, 2px);
    }


    .policy_links {
        color: rgb(0, 0, 0);
    }

    .policy_links:hover {
        color: rgb(180, 11, 177);
    }
    
    .enter_names_gone {
        transform: translateY(2000px);
        transition: 2s;
    }

    .enter_names {
        position: absolute;
        top: 5%;
        width: 100%;
        transition: 2s;
    }

    .add_players_container {
        transition: all 0.8s ease;    
    }

    .button_form_container{
        position:absolute;
        width:100%;
        margin-top:5%;

    }

    .start_game_button_last {
        background-color: #111111;
        border-radius: 30px;
        box-shadow: #111111 4px 4px 0 0;
        color: #ffffff;
        cursor: pointer;
        display: inline-block;
        font-weight: 600;
        font-size: 4vw;
        text-align: center;
        text-decoration: none;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
        filter: drop-shadow(0px 0px 10px #292929);
        padding: 1%;
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }

    .start_game_button_last:hover {
        background-color: #191919;
    }

    .start_game_button_last:active {
        box-shadow: #111111 2px 2px 0 0;
        transform: translate(2px, 2px);
    }

    .or_text{
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size:3vw;
    }

    .add_players_form {
        transition: all 0.8s ease;
    }

    .add_players_button {
        background-color: #ffffff;
        border: 2px solid #111111;
        border-radius: 30px;
        box-shadow: #111111 4px 4px 0 0;
        color: #111111;
        cursor: pointer;
        display: inline-block;
        font-weight: 400;
        padding: 1%;
        font-size: 2vw;
        text-align: center;
        text-decoration: none;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
        filter: drop-shadow(0px 0px 2px #292929);
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }

    .add_players_button:hover {
        background-color: #fff;
    }

    .add_players_button:active {
        box-shadow: #111111 2px 2px 0 0;
        transform: translate(2px, 2px);
    }

    .add_players_input {
        background-color: #ffffff;
        border: 2px solid #111111;
        border-radius: 30px;
        box-shadow: #111111 4px 4px 0 0;
        color: #111111;
        margin-right: 1%;
        display: inline-block;
        font-weight: 400;
        padding: 1%;
        font-size: 2vw;
        text-align: center;
        text-decoration: none;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
        filter: drop-shadow(0px 0px 2px #292929);
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }

    .player_list_container {
        position:absolute;
        width:100%;   
        margin-top:34%;
    }

    .added_players_list {
        display:flex;
        text-decoration: none;
        list-style-type: none;
        color: white;
        transition: all 0.8s ease;
        font-family: Arial, Helvetica, sans-serif;
        filter: drop-shadow(0px 0px 2px #292929);
        margin-right:2%;
        text-align: center;
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }

    .each_player_names_list {
        background-color: #ffffff;
        border: 2px solid #111111;
        padding:2%;
        text-align: center;
        box-shadow: #111111 4px 4px 0 0;
        font-weight: 600;
        color: #111111;
        font-size: 1.5vw;
        width: 10%;
        margin-left: 0.2%;
        margin-right:0.2%;
        border-radius:20px;
    }

    @keyframes fadeIn {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 100;
        }
    }




}