/* --------------------------------------------------------------------------------------------------------------------------------------- */
/* The CSS Below is for Mobile in portrait orientation*/
@media only screen and (max-width: 767px) {

    .rules_1{
    }
    .rules_1_gone{
        display:none;
    }

    .lologo_rules {
        width:20%;
        position:absolute;
        top:2%;
        left:15%;
        filter: drop-shadow(0px 0px 5px #292929);
    }

    .rules_title {
        position:absolute;
        top:4%;
        left:38%;
        font-size: 5vw;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-weight: bold;
        color:white;
        text-shadow: 2px 2px #000000;
    }

    .rules_page_container {
        padding-top:40%;
    }
    
    .go_back_button {
        position:absolute;
        top:15%;
        left:5%;
        color: rgb(255, 255, 255);
        text-align: center;
        font-size: 5vw;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-weight: bold;
        background-color: #111111;
        padding-top: 1%;
        padding-bottom: 1%;
        border-radius: 10px;
        cursor: pointer;
        width:40%;
    }

    .next_button {
        position:absolute;
        top:15%;
        right:5%;
        color: rgb(255, 255, 255);
        text-align: center;
        font-size: 5vw;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-weight: bold;
        background-color: #111111;
        padding-top: 1%;
        padding-bottom: 1%;
        border-radius: 10px;
        width:40%;
        margin-left: 20%;
        cursor: pointer;
    }

    .go_back_button:hover {
        background-color: #ededed;
    }

    .go_back_button:active {
        box-shadow: #999 2px 2px 0 0;
        transform: translate(4px, 4px);
        
    }
    .rules_page_grid{
        display:grid;
        grid-template-columns: 100%; ;
        margin-top:4%;
        column-gap:1%; 
        row-gap:3%;
        margin-left:5%;
         
    }
    .rules_page_grid2{
        display:grid;
        grid-template-columns: 20% 60% ;    
    }

    .rules_page_grid_item {
        
        border-radius:20px;
    
    }

    .rules_page_text{
        width:120%;
        color:rgb(255, 255, 255);
        padding-top:5%;
        padding-right:5%;
        font-size: 2vw; 
        border-radius: 10px;
        transition: all 0.5s;
        margin-top:2%;
        margin-left:-10%;
        background-color: #111111;
        padding-left:10%;
        text-align: justify;
    }

    .rules_image{
        width:80%;      
        border-radius:15px;
        background-color:white;
        z-index:10;
        padding:5%;
    }



    .rules_page_list{
        padding:5%;
        margin-top:2%;
        background-color: #111111;
        border-radius: 30px;
        filter: drop-shadow(0px 0px 15px #292929);
        width:80%;
        margin-left:5%;
    }

    .rules_page_list_item{
        font-size: 2.5vw;
        color: rgb(255, 255, 255);
        font-family: Arial, Helvetica, sans-serif;
        text-decoration: none;
        font-weight:600;
        
    }

    .rules_text_list {
        text-decoration: none;
        list-style-type: none;
    }
    
}

/* --------------------------------------------------------------------------------------------------------------------------------------- */
/* The CSS Below is for Mobile in landscape orientation */
@media only screen and (min-width:650px) and (max-width:991px) and (orientation: landscape) {
    
    .rules_1{
    }
    .rules_1_gone{
        display:none;
    }

    .lologo_rules {
        width:8%;
        position:absolute;
        top:2%;
        left:28%;
        filter: drop-shadow(0px 0px 5px #292929);
    }

    .rules_title {
        position:absolute;
        top:2%;
        left:40%;
        font-size: 3vw;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-weight: bold;
        color:white;
        text-shadow: 1px 1px #000000;
    }

    .rules_page_container {
        padding-top:8%;
    }
    
    .go_back_button {
        position:absolute;
        top:5%;
        left:5%;
        color: rgb(255, 255, 255);
        text-align: center;
        font-size: 2vw;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-weight: bold;
        background-color: #111111;
        padding-top: 1%;
        padding-bottom: 1%;
        border-radius: 10px;
        cursor: pointer;
        width:20%;
    }

    .next_button {
        position:absolute;
        top:5%;
        right:5%;
        color: rgb(255, 255, 255);
        text-align: center;
        font-size: 2vw;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-weight: bold;
        background-color: #111111;
        padding-top: 1%;
        padding-bottom: 1%;
        border-radius: 10px;
        width:20%;
        margin-left: 20%;
        cursor: pointer;
    }

    .go_back_button:hover {
        background-color: #ededed;
    }

    .go_back_button:active {
        box-shadow: #999 2px 2px 0 0;
        transform: translate(4px, 4px);
        
    }
    .rules_page_grid{
        display:grid;
        grid-template-columns: 49% 49% ;
        margin-top:4%;
        column-gap:1%; 
        row-gap:3%;
        margin-left:5%;
         
    }
    .rules_page_grid2{
        display:grid;
        grid-template-columns: 20% 60% ;    
    }

    .rules_page_grid_item {
        
        border-radius:20px;
    
    }

    .rules_page_text{
        width:100%;
        color:rgb(255, 255, 255);
        padding-top:4%;
        padding-right:5%;
        font-size: 0.9vw; 
        border-radius: 10px;
        transition: all 0.5s;
        margin-top:2%;
        margin-left:-10%;
        background-color: #111111;
        padding-left:10%;
        text-align: justify;
    }
    .rules_image{
        width:80%;      
        border-radius:15px;
        background-color:white;
        z-index:10;
        padding:5%;
    }



    .rules_page_list{
        padding:5%;
        margin-top:2%;
        background-color: #111111;
        border-radius: 10px;
        filter: drop-shadow(0px 0px 15px #292929);
        width:80%;
        margin-left:5%;
    }

    .rules_page_list_item{
        font-size: 1.5vw;
        color: rgb(255, 255, 255);
        font-family: Arial, Helvetica, sans-serif;
        text-decoration: none;
        font-weight:600;
        
    }

    .rules_text_list {
        text-decoration: none;
        list-style-type: none;
    }

}

/* --------------------------------------------------------------------------------------------------------------------------------------- */
/* The CSS Below is for Desktop and Larger Devices */

@media only screen and (min-width:992px) {
    .rules_1{
    }
    .rules_1_gone{
        display:none;
    }

    .lologo_rules {
        width:8%;
        position:absolute;
        top:2%;
        left:28%;
        filter: drop-shadow(0px 0px 5px #292929);
    }

    .rules_title {
        position:absolute;
        top:2%;
        left:40%;
        font-size: 3vw;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-weight: bold;
        color:white;
        text-shadow: 2px 2px #000000;
    }

    .rules_page_container {
        padding-top:8%;
    }
    
    .go_back_button {
        position:absolute;
        top:5%;
        left:5%;
        color: rgb(255, 255, 255);
        text-align: center;
        font-size: 2vw;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-weight: bold;
        background-color: #111111;
        padding-top: 1%;
        padding-bottom: 1%;
        border-radius: 10px;
        cursor: pointer;
        width:20%;
    }

    .next_button {
        position:absolute;
        top:5%;
        right:5%;
        color: rgb(255, 255, 255);
        text-align: center;
        font-size: 2vw;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-weight: bold;
        background-color: #111111;
        padding-top: 1%;
        padding-bottom: 1%;
        border-radius: 10px;
        width:20%;
        margin-left: 20%;
        cursor: pointer;
    }

    .go_back_button:hover {
        background-color: #ededed;
    }

    .go_back_button:active {
        box-shadow: #999 2px 2px 0 0;
        transform: translate(4px, 4px);
        
    }
    .rules_page_grid{
        display:grid;
        grid-template-columns: 49% 49% ;
        margin-top:4%;
        column-gap:1%; 
        row-gap:3%;
        margin-left:5%;
         
    }
    .rules_page_grid2{
        display:grid;
        grid-template-columns: 20% 60% ;    
    }

    .rules_page_grid_item {
        
        border-radius:20px;
    
    }

    .rules_page_text{
        width:100%;
        color:rgb(255, 255, 255);
        padding-top:4%;
        padding-right:5%;
        font-size: 0.9vw; 
        border-radius: 30px;
        transition: all 0.5s;
        margin-top:2%;
        margin-left:-10%;
        background-color: #111111;
        padding-left:10%;
        text-align: justify;
    }
    .rules_image{
        width:80%;      
        border-radius:50px;
        background-color:white;
        z-index:10;
        padding:5%;
    }



    .rules_page_list{
        padding:5%;
        margin-top:2%;
        background-color: #111111;
        border-radius: 30px;
        filter: drop-shadow(0px 0px 15px #292929);
        width:80%;
        margin-left:5%;
    }

    .rules_page_list_item{
        font-size: 1.5vw;
        color: rgb(255, 255, 255);
        font-family: Arial, Helvetica, sans-serif;
        text-decoration: none;
        font-weight:600;
        
    }

    .rules_text_list {
        text-decoration: none;
        list-style-type: none;
    }

}